:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background: var(--backgr);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.light-theme {
    --backgr: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --backgr: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn_submission {
    position: absolute;
    top: 20px;
    left: 450px;
    height: 50px;
    width: 350px;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn_output {
    position: absolute;
    top: 75px;
    left: 450px;
    height: 50px;
    width: 350px;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}